.cocktails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px 16px;
  padding: 0px 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px 4px 4px 4px;
  transition: all .4s ease-in-out;
  margin: 16px 0px;
  position: relative;
}

.card-category:hover {
  transform: scale(1.05);
}

.card-remove-link {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.delete-dose {
  color: rgb(220, 220, 220);
  margin: 8px;
}

.list-group-item {
  padding: 4px;
  margin: 4px 0px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 600px;
  margin: 16px auto;
  border-radius: 0px 0px 4px 4px;
  .btn {
    margin: 8px;
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-category {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-category {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-category {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-category {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-category {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
