.navbar-lewagon {
  justify-content: space-between;
  background: blue;
  background-color: transparent;
  transition: 0.3s background-color ease;
  z-index: 2;
  .nav-link {
    color: white;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-lewagon-white {
  background-color: white;
  .nav-link {
    color: black!important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
